example/**/*.cpp linguist-vendored
example/**/*.cc linguist-vendored
example/**/*.h linguist-vendored
example/**/*.cmake linguist-vendored
example/**/*.txt linguist-vendored
example/**/*.swift linguist-vendored
example/**/*.html linguist-vendored
example/**/*.kt linguist-vendored